<div>
    <p>
        В качестве способа для классификации текста по тональности был выбран словарный метод, основанный на
        алгоритме <b>SO-CAL</b>.
        <a href="https://www.mitpressjournals.org/doi/pdf/10.1162/COLI_a_00049">Taboada, Maite, Brooke, Julian,
            Tofiloski, Milan, Voll, Kimberly,
            & Stede, Manfred. (2011). Lexicon-based methods for sentiment analysis. Computational Linguistics, 37(2),
            pp. 267-307</a>
    </p>
    <p>
        В качестве предметной области для тональных словарей были выбраны мобильные телефоны.
    </p>
    <p>
        В качестве способа для построения словаря было выбрано два метода:
    </p>
    <div style="line-height: 0.1em; margin-left: 50px">
        <p>
            1. Построение словаря униграм с помощью свёрточной нейронной сети и модели векторных представлений слов
            Word2Vec.
            <a href="/dictionaries/cnn_unigram">(просмотреть словарь)</a>
        </p>
        <p>
            2. Построение словаря униграм и биграм с помощью критерия согласия Пирсона (Хи-квадрат).
            <a href="/dictionaries/chi_unigram">(просмотреть словарь униграм, </a>
            <a href="/dictionaries/bigram">просмотреть словарь биграм)</a>
        </p>
    </div>
    <p>
        Каждому термину (слову или словосочетанию) назначен вес: частотное распределение термина в подкорпусах
        достоинств
        и недостатков соответственно. Слова с положительной тональностью имеют вес в диапазоне <b>(0; 1]</b>,
        с отрицательной – <b>[-1; 0)</b>.
    </p>
    <p>
        Мини-пример такого словаря представлен ниже в таблице:
    </p>
</div>