<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analyzer | Dictionaries</title>
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/1856/PNG/512/sentiment-very-satisfied_116733.png"
          type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<div>
    <nav>
        <ul class="topmenu">
            <li><a href="/sentiment">Sentiment Analyzer<span class="fa fa-angle-down"></span></a></li>
            <li><a href="/dictionaries/all" class="active">Dictionaries</a>
                <ul class="submenu">
                    <li><a href="/dictionaries/cnn_unigram">CNN unigram</a></li>
                    <li><a href="/dictionaries/chi_unigram">CHI-SQUARE unigram</a></li>
                    <li><a href="/dictionaries/chi_bigram">CHI-SQUARE bigram</a></li>
                </ul>
            </li>
            <li><a href="/analyze/files">Files Analyzer</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <ul style="margin-right: 3%;">
        <div>
            <h2 style="text-align:center;">{{ name_dictionary}}</h2>
            <label>
                {{about_dictionary}}
            </label>
            {% include html_file ignore missing %}
            <table>
                <tr>
                    <th>ТЕРМИН</th>
                    <th>ВЕС</th>
                </tr>
                <tbody>
                {% for key in dictionary %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{dictionary[key]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </ul>
</div>
</body>
</html>