<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analyzer | Files</title>
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/1856/PNG/512/sentiment-very-satisfied_116733.png"
          type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#fm').on('submit', function () {
                $.ajax({
                    type: 'POST',
                    url: '/analyze/files/result',
                    data: $('form').serialize()
                });
            });
        });

        $(function () {
            $("#content").load("/analyze/files/result");
        });
    </script>
</head>
<body>
<nav>
    <ul class="topmenu">
        <li><a href="/sentiment">Sentiment Analyzer<span class="fa fa-angle-down"></span></a></li>
        <li><a href="/dictionaries/all">Dictionaries</a>
            <ul class="submenu">
                <li><a href="/dictionaries/cnn_unigram">CNN unigram</a></li>
                <li><a href="/dictionaries/chi_unigram">CHI-SQUARE unigram</a></li>
                <li><a href="/dictionaries/chi_bigram">CHI-SQUARE bigram</a></li>
            </ul>
        </li>
        <li><a href="/analyze/files" class="active">Files Analyzer</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
<div>
    <div style="padding: 25px;">
        <form method="post" action="/analyze/files" enctype=multipart/form-data>
            <ul>
                <label>
                    <p>
                        На данной странице реализована классификация текстов на русском языке
                        по тональности словарным методом с учётом слов-модификаторов. Тексты классифицируются по двум
                        категориям – позитивная и негативная. Необходимо ввести в форму файл формата .xlsx (пример можно
                        скачать ниже), тексты из файла будут проклассифицированы по тональности.
                    </p>
                    <p>
                        Результат классификации будет выведен так же в файл (.json), в котором будет
                        полная информация об обработанных текстах:
                    </p>
                    <div style="line-height: 0.1em; margin-left: 50px">
                        <p>
                            1) общая тональность;
                        </p>
                        <p>
                            2) оценки двух тональностей;
                        </p>
                        <p>
                            3) распознанные в тексте тональные слова и слова-модификаторы.
                        </p>
                    </div>
                    <p>
                        <a href="/static/test.xlsx" download>Скачать пример файла</a>
                    </p>
                </label>
                <select class="select-css" name="select">
                    <option value="RuSentiLex">RuSentiLex</option>
                    <option value="CNN unigram">CNN unigram</option>
                    <option value="CHI unigram" selected>CHI unigram</option>
                    <option value="CHI bigram">CHI bigram</option>
                </select>
                <input type=file name=file> <input type=submit id="fm" value=Классифицировать>
            </ul>
        </form>
        <ul>
            <div id="content"></div>
        </ul>
    </div>
</div>
</body>
</html>