<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analyzer</title>
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/1856/PNG/512/sentiment-very-satisfied_116733.png"
          type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div>
    <nav>
        <ul class="topmenu">
            <li><a href="/sentiment" class="active">Sentiment Analyzer</a></li>
            <li><a href="/dictionaries/all">Dictionaries</a>
                <ul class="submenu">
                    <li><a href="/dictionaries/cnn_unigram">CNN unigram</a></li>
                    <li><a href="/dictionaries/chi_unigram">CHI-SQUARE unigram</a></li>
                    <li><a href="/dictionaries/chi_bigram">CHI-SQUARE bigram</a></li>
                </ul>
            </li>
            <li><a href="/analyze/files">Files Analyzer</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <div style="padding: 25px;">
        <form method="post" , action="\sentiment">
            <ul>
                <label for="id_text">
                    <p>
                        <b>Тональность или сентимент текста (англ. sentiment)</b> – эмоциональная оценка, выражаемая в
                        исследуемом тексте. Лексической тональностью (или лексическим сентиментом) называют
                        эмоциональную
                        составляющую, которая выражена на уровне лексемы. Таким образом, определение тональности всего
                        текста зависит
                        от лексической тональности отдельных единиц текста (лексем) и правил их сочетания, т.е. правил
                        языка, на котором написан текст.
                    </p>
                    <p>
                        На данной странице представлена демонстрация классификации текста на русском языке
                        по тональности словарным методом с учётом слов-модификаторов. Текст классифицируется по двум
                        категориям – позитивная и негативная. Результат классификации и распознанные в тексте
                        позитивные,
                        негативные и слова-модификаторы отобразятся в таблицах ниже.
                    </p>

                </label>
                <div class="row">
                    <select class="select-css" name="select">
                        <option value="RuSentiLex">RuSentiLex</option>
                        <option value="CNN unigram">CNN unigram</option>
                        <option value="CHI unigram" selected>CHI unigram</option>
                        <option value="CHI bigram">CHI bigram</option>
                    </select>
                    <textarea class="column" id="id_text" cols="40" rows="8" name="text">{{text}}</textarea>
                    <img class="column" src="{{ url_for('static', filename=img) }}" style="width:200px;height:200px;"/>
                </div>
                <button>Классифицировать текст</button>
            </ul>
            <ul>
                <div>
                    <h3>Результат классификации по тональности:</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>ОБЩАЯ ОЦЕНКА</th>
                            <th>ПОЗИТИВНАЯ ОЦЕНКА</th>
                            <th>НЕГАТИВНАЯ ОЦЕНКА</th>
                            <th>СРЕДНЯЯ ОЦЕНКА</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ result['score'] }}</td>
                            <td>{{ result['positive'] }}</td>
                            <td>{{ result['negative'] }}</td>
                            <td>{{ result['comparative'] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </ul>
            <ul>
                <h3>Распознанные термины из словарей и слова-модификаторы:</h3>
                <table>
                    <tr>
                        <th>ПОЗИТИВНЫЕ</th>
                        <th>НЕГАТИВНЫЕ</th>
                        <th>СЛОВА-МОДИФИКАТОРЫ</th>
                    </tr>
                    <tbody>
                    <tr>
                        <td>{{ positive }}</td>
                        <td>{{ negative }}</td>
                        <td>{{ modifier }}</td>
                    </tr>
                    </tbody>
                </table>
            </ul>
            <ul>
                <h3>Скачать файл с отчётом классификации (.json):</h3>
                <a href="{{ url_for('static', filename=download_file) }}" download>
                    <img src="/static/icons/download.png" width="100" height="100"></a>
            </ul>
        </form>
    </div>
</div>
</body>
</html>